header {
    background-color: #333333;
    color: #dddddd;
    text-align: center;
    padding: 5px;
}

footer {
    background-color: #333333;
    color: #dddddd;
    text-align: center;
}

.col1 {
    background-color: #f7f7f7;
    text-align: center;
}

.col1>p,
.col3>p {
    color: blue;
}

.col1 li p {
    color: orangered
}

.col3 {
    background-color: #f7f7f7;
    text-align: center;
}

.col3 li p {
    color: green;
}

ul {
    list-style-type: none;
}

.visible-md li {
    display: inline-block;
}

img {
    max-width: 100%;
}

.col2 img {
    box-shadow: 4px 4px 4px;
}

.col2 p {
    margin-top: 20px;
    margin-right: 50px;
    overflow: auto;
    height: auto;
}